# General
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# Java
target/
*.class

# OS
Thumbs.db

# Environment Variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
