[Unit]
Description=Login to AWS ECR Public and start Docker Compose stack
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /opt/edgecase/ops/scripts/ecr-login-compose.sh
RemainAfterExit=yes
Environment="ECR_REGISTRY=public.ecr.aws/u8u9n1r7"
Environment="ECR_REPO=edgecase-demo"

[Install]
WantedBy=multi-user.target
